{% extends 'client-base.html' %}
<head>
    {% block title %} <title> Home </title> {% endblock %}
</head>

{% block body %}
<div class="main-block">  
    <div class="tabs"> 
         
    </div>

    <div class="middle"> 

        <div class="main"> 
            
        </div>

        <div class="side-bar"> 
            
            <div class="external link"> 
                <a href="#"> tmp link </a>
                <a href="#"> tmp link </a>
                <a href="#"> tmp link </a>
                <a href="#"> tmp link </a>
                <a href="#"> tmp link </a>
            </div>

            <div class="status-update"> 
                <label class="status1" aria-placeholder="Letter status">  </label>
            </div>

        </div>

    </div>

</div>
{% endblock %} 