{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}"> 
        {% block title %}
            <title> base(if this pops up theres something wrong) </title>
        {% endblock %}
    </head>

    <body>
        <!-- Nav here -->
        <header> 
            <div class="header-left" >
                <img class="logo" src="#" alt="Logo for Land leasing page" > 
                <input type="search" class="search-bar" placeholder="Search..."> 

            </div>

            <div class= header-right > 
                <a href='{% url "client-about" %}'> About </a>
                <a href="{% url 'client-cart' %}"> Cart </a>
                <a href="{% url 'client-home' %}"> Home </a>
                <a id="profile-status" href="{% url 'client-profile' %}"> Log in / Signup </a>
            </div>
            
        </header>
        {% block content-tab %}
            
        {% endblock %}

        <footer> 
            <div class="tech-list"> 
                
            </div>  

            <div class="legal-providers">


            </div>
        </footer>


    </body>

</html> 